.home {
  height: 80vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.home h1 {
  font-size: 48px;
  color: gold;
}

.home button {
  margin-top: 20px;
  padding: 12px 25px;
  background: gold;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
